%modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;

  &.modal-open {
    display: flex;
  }

  .modal-content {
    width: 500px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    z-index: 1100;

    .close {
      font-size: 28px;
      font-weight: bold;
      float: right;
      cursor: pointer;
    }

    .modal-body {
      display: flex;

      .image {
        flex: 50%;

        img {
          width: 100%;
          height: auto;
        }
      }

      .information {
        flex: 50%;

        .name {
          font-size: larger;
          font-weight: bold;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        table {
          width: 100%;
          border-collapse: collapse;

          tr {
            border-bottom: 1px solid #ccc;

            th, td {
              font-size: smaller;
              padding: 4px 0;
              text-align: left;
            }

            th {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}